@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.divFiltre{
    display: flex;
    align-items: center;
    width: 47.3rem;
    gap: 15px;
    margin-top: 2.31rem;
}

h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.filtre{
    display: flex;
    gap: 15px;

}

.firstDiv{
    display: flex;
    align-items: center;
   gap: 10px;
   width: auto;
   height: auto;
    padding: 0.25rem 1.1rem 0.25rem 1.1rem;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
 
}

.billet{
    color: #0065FC;
}



.secondDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 0.25rem 1.1rem 0.25rem 1.1rem;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
}

.personne{
    color: #0065FC;
}


.thirdDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 0.25rem 1.1rem 0.25rem 1.1rem;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
}

.coeur{
    color: #0065FC;
}

.forthDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 10.4rem;
    height: 3.1rem;
    padding: 0.25rem 1.1rem 0.25rem 1.1rem;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
}

.feu{
    color: #0065FC;
}



.headerBottom{
    width: 100%;
    display: flex;
    align-items: center
   
}
/* ================================================================================================ Hover ============================================================================================== */

.firstDiv:hover{
    background: #DEEBFF;
    cursor: pointer;
}
.secondDiv:hover{
    background: #DEEBFF;
    cursor: pointer;
}
.thirdDiv:hover{
    background: #DEEBFF;
    cursor: pointer;
}
.forthDiv:hover{
    background: #DEEBFF;
    cursor: pointer;
}