.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin:10px;
}

.navbar__img{
    width: 4rem;
}

.navbar__links{
    width: 30%;
    display: flex;
    justify-content: space-between;
   
}