.LogementCardTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
 
}

.LogementTwo{
    display: flex;
    flex-direction: row;
    background: #FFF;
    border-radius: 1.25rem;
   
}

.LogementTwo img{
    width: 7rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    border: 5px solid #FFF;
}

.Logement h3{
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Logements p{
    font-family: Raleway;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.LogementDiv{
    display: flex;
padding: 0rem 0.9375rem;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
align-self: stretch;
}
.span1 {
    color: #0065FC;

}

.span2 {
    color: #E3E3E3;
}



