@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.hebergements{
    display: flex;
    margin-top: 2.19rem;
    width: 100%;
    height: auto;
}

.premiereSection{
    width: auto;
    height: auto;
    background-color: #F2F2F2;
    margin-right: 2.5rem;
    border-radius: 0.9375rem;
    padding: 1.88rem;
}

.premiereSection h2{
   
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.secondSection{
    width: auto;
    height: auto;
    background-color: bisque;
    border-radius: 0.9375rem;
    padding: 1.88rem;
}

.secondSection h2{
   
    font-family: Raleway;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}